.cont {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    margin-bottom: 1%;
    margin-left: 5.5%;
    margin-right: 5.5%;
}
@media only screen and (max-width: 1050px){
    .cont {
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        margin-bottom: 1%;
        flex-direction: column;
        margin-left: 1%;
        margin-right: 1%;
    }

    .box {
        display: flex;
        width: 100%;
        max-width: 600px;
        flex-direction: column;
        border: 1px solid #dbe9f5;
        border-radius: 16px;
        box-shadow: 0 4px 6px 0 rgba(31,70,88,.04);   
        padding: 22px;
        /* margin-left: 5%;
        margin-right: 5%; */
        margin-bottom: 2%;
    }
}

.containerFont {
    font-size: 1.1rem;
}

.box {
    display: flex;
    width: 100%;
    max-width: 1000px;
    flex-direction: column;
    border: 1px solid #dbe9f5;
    border-radius: 16px;
    box-shadow: 0 4px 6px 0 rgba(31,70,88,.04);   
    padding: 22px;
    margin-left: 5%;
    margin-right: 5%;
}

.strongCase {
    color:#6370ff;
    font-size: 2rem;
}

.strongDeath {
    color:#ff574d;
    font-size: 2rem;
}

.strongLetal {
    color:#5cbc7c;
    font-size: 2rem;
}

.updated {
    display: flex;
    align-items: flex-end;
    justify-content: center;
    flex-direction: column;
    margin-bottom: 1%;
    margin-right: 10%;
    font-size: 1.2rem;

}

@media only screen and (max-width: 1050px){
    .updated{
        margin-right: 1%;
    }

}

@media only screen and (max-width: 500px){
    .updated{
        font-size: 0.8rem;
    }
    .updateFont {
        font-size: 0.9rem !important;
    }

}

.updateFont {
    font-size: 1.3rem;
    color: #62625d;
}